<div class="container">
  <h1 mat-dialog-title>Adicionar Produto</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label> Nome </mat-label>
    <input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Preço</mat-label>
    <input matInput [(ngModel)]="data.price" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label> Código</mat-label>
    <input matInput [(ngModel)]="data.sku" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="!data.name || !data.price || !data.sku" cdkFocusInitial>Enviar</button>
</div>


</div>